<body>
	<style>
		img { width: 95% }
	</style>
	<h2>Black Mesa</h2>
	<h3>In main menu</h3>
	<h4>Native Port</h4>
	<img src="./bm-menu-native.png" />
	<h4>Proton</h4>
	<img src="./bm-menu-proton.png" />
	<h3>In game (Xen)</h3>
	<h4>Native</h4>
	<img src="./bm-game-native.png" />
	<img src="./bm-game-native-sets.png" />
	<h4>Proton</h4>
	<img src="./bm-game-proton.png" />
	<img src="./bm-game-proton-sets.png" />

	<h2>Dirt Rally</h2>
	<h3>Native Dirt rally won't launch because <b>glibc</b> update broke <b>libxcrypt</b></h3>
	<img src="./dirt-rally-nolaunch.png" />
	<img src="./dirt-rally-error.png" />

	<h2>Dirt 4</h2>
	<h3>Ultra Low Preset (720p)</h3>
	<h4>Native</h4>
	<img src="./dirt4-native-ultralow.png" />
	<h4>Proton</h4>
	<img src="./dirt4-proton-ultralow.png" />
	<h3>Low Preset (720p)</h3>
	<h4>Native</h4>
	<img src="./dirt4-native-low.png" />
	<h4>Proton</h4>
	<img src="./dirt4-proton-low.png" />
</body>
